*{
    margin: 0;
    padding:0;
    max-width: 1902px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    
  }

  a {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      font-size: 30px;
      font-family:sans-serif;
      margin-left: 40px;
      color:white;
      
 }

.menu{
    background-color: black;
    margin: 0;
    padding: 0;
    height:60px;

}


.logo{
    margin-left:960px;
}

a {
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color:yellow; /*задаём цвет линии*/
	content: "";
	transition: width 0.6s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.main_menu li{
    margin-top:15px; 
    display: inline-block;  
}

.bio{
    height: 502px;
    background-color: rgba(0, 0, 0, 0.781);
    width: 1920;
    display: flex;
    background: linear-gradient( rgba(43, 42, 42, 0.685), rgba(19, 19, 19, 0.959)), url("/img/zal.jpg");
    margin-top: -10px;
    margin-bottom: -10px;
}

.LW{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.781);
    width: 1920;
    display: flex;
    background: linear-gradient( rgba(41, 40, 40, 0.664), rgba(19, 19, 19, 0.959)), url("/img/LAK.jpg");
    margin-top:-10px;
}



.txt{
    width:900px;
    font-family:sans-serif;
    color:white;
    font-size: 25px;
    margin-left:100px;
    margin-bottom: 35px;

}

.txt1{
    width:900px;
    font-family:sans-serif;
    color:white;
    font-size: 25px;
    margin-left:100px;
    

}

.main-page{
    height: 910px;
}

.team{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
}

.win{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
}

.lorem{
    font-size: 40px;
    margin-bottom:10px;
    color: rgb(240, 240, 96);
}

.lorem1{
    font-size: 40px;
    margin-bottom:10px;
    color: rgb(240, 240, 96);
}

.prop1{
    width:50px;
    font-size: 40px;
    display: inline;
    background-color:  blueviolet;

}

.prop1 h{
    margin-left: 850px;
    margin-right: 913px;
    color: yellow;
    margin-top: 100px;
}

.prop{
    width:52px;
    font-size: 40px;
    display: inline;
    background-color:  blueviolet;

}

.prop h{
    margin-left:700px;
    margin-right:660px;
    color: yellow;
}