*{
    margin: 0;
    padding:0;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    
  }

  a {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      font-size: 30px;
      font-family:sans-serif;
      margin-left: 40px;
      color:white;
      
 }

.menu{
    background-color: black;
    margin: 0;
    padding: 0;
    height:60px;

}


.logo{
    margin-left:960px;
}

a {
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color:yellow; /*задаём цвет линии*/
	content: "";
	transition: width 0.6s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


.main_menu li{
    margin-top:15px; 
    display: inline-block;  
}