*{
    margin: 0;
    padding:0;
    max-width: 1902px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    
  }

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-size: 30px;
    font-family:sans-serif;
    margin-left: 40px;
    color:white;
      
 }


.logo{
    margin-left:960px;
}

a {
	position: relative;
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 

}
a:after {
	display: block;
	position: absolute;
	left: 0; 
	height: 3px; 
	background-color:yellow; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 
}


.main_menu li{
    margin-top:15px; 
    display: inline-block;  
}

.bio{
    height: 502px;
    background-color: rgba(0, 0, 0, 0.781);
    width: 1920;
    display: flex;
    background: linear-gradient( rgba(43, 42, 42, 0.685), rgba(19, 19, 19, 0.959)), url("/img/zal.jpg");
    margin-top: -10px;
    margin-bottom: -10px;
}

.LW{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.781);
    width: 1920;
    display: flex;
    background: linear-gradient( rgba(41, 40, 40, 0.664), rgba(19, 19, 19, 0.959)), url("/img/LAK.jpg");
    margin-top:-10px;
}



.txt{
    width:900px;
    height: 200px;
    font-family:sans-serif;
    color:white;
    font-size: 25px;
    margin-left:100px;
    margin-bottom: 35px;
    background-color: black;
    

}

.txt1{
    width:900px;
    height: 200px;
    font-family:sans-serif;
    color:white;
    font-size: 25px;
    margin-left:100px;
    background-color: black;

}

.main-page{
    height: 50px;
}

.team{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
}

.win{
    display: flex;
    margin-top: 70px;
    margin-left: 150px;
}

.lorem{
    font-size: 40px;
    margin-bottom:10px;
    color: rgb(240, 240, 96);
}

.lorem1{
    font-size: 40px;
    margin-bottom:10px;
    color: rgb(240, 240, 96);
}

.prop1{
    width:50px;
    font-size: 25px;
    display: inline;
    background-color:  black;

}

.prop1 h{
    margin-left: 850px;
    margin-right: 681px;
    color: white;
    margin-top: 100px;
    font-family:sans-serif;
}

.prop{
    width:52px;
    font-size: 25px;
    display: inline;
    background-color:  black;

}

.prop h{
    margin-left:700px;
    margin-right:780.5px;
    color: white;
    font-family:sans-serif;
}

.bottom p{
    font-family:sans-serif;
    color:whitesmoke;
    font-size: 15px;

}

.bottom{
    background-color: rgb(53, 53, 53);
    height:60px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:black;
    font-family: Arial;
    position: fixed;
    width: 1920px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:none;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: blueviolet;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  

  .dropdown-content a:hover {
    background-color: blueviolet;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn p {
      margin-left: 35px;
  }

  .pck{
      margin-left: 1800px;
  }

 