*{
    margin: 0;
    padding:0;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    
  }

  a {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      font-size: 30px;
      font-family:sans-serif;
      margin-left: 40px;
      color:white;
      
 }

.menu{
    background-color: black;
    margin: 0;
    padding: 0;
    height:50px;
}

li{
    display: inline-block;
    
}

.logo{
    margin-left:900px;
}

a {
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color:yellow; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.about{
    background-image: url("../img/musician.jfif");
    background: linear-gradient( rgba(19, 19, 19, 0.959), rgba(19, 19, 19, 0.959)), url("../img/musician.jfif");
    height:600px;
    margin-bottom:1000px;

}

.about h3{
    margin-left:700px;
    width: 30em;
    color:white;
    font-size: 40px;
    
}

.about p{
    margin-right:200px;
    width: 30em;
    color:white;
    font-size:25px;
}

.about img{
    width:90%;
    display: block;

}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

  
.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
